$Yellow:#ffbe0b;
$Green:#06D6A0;
$Red:#d90429;
$LightGreen:#0CB0A9;
$LightBlue:#118AB2;
$DarkBlue:#0C637F;
$Pink:#EF476F;
$DarkGreen:#09C3A5;
$White: #FFFFFF;
$Black: #231B1B;

@import url('https://fonts.googleapis.com/css2?family=B612&family=Bebas+Neue&family=Major+Mono+Display&family=Simonetta&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

.example{
font-family: 'B612', sans-serif;
font-family: 'Bebas Neue', cursive;
font-family: 'Oswald', sans-serif;
font-family: 'Major Mono Display', monospace;
}

.createBox{
display: flex;
flex-direction: column;
width: 90%;
align-items: center;
justify-content: center;
background:
repeating-linear-gradient(45deg, rgba(12,99, 127, 1) 0%, rgba(239, 71, 111, 0.6) 5%, transparent 5%, transparent 10%),
repeating-linear-gradient(-45deg, rgba(12, 99, 127, 0.4) 0%, rgba(239, 71, 111, 0.5) 5%, transparent 5%, transparent 10%);
background-color: rgba(12, 99, 127, 0.25);border-radius:  10px 10px 10px 10px;
border: solid .2rem $Black;
box-shadow: .5rem .5rem 0 $Black;
border-radius:  10px 10px 10px 10px;
margin-bottom: 10%;
}

.sortOders{
display: flex;
width: 90%;
margin-top: 2%;
margin-bottom: 2%;
flex-direction: column;
}

.sortEachOrder{
display: flex;
width: 100%;
flex-direction: column;
align-items: center;
background-color: $LightGreen;
border-radius: 10px 10px 10px 10px;
border: solid .2rem $Black;
box-shadow: .5rem .5rem 0 $Black;
margin-bottom: 5%;
justify-content: center;
}

.sortUpOrder{
width: 100%;
display: flex;
flex-direction: row;
background-color: $Pink;
border-radius: 10px 10px 0px 0px;
align-items: center;
justify-content: center;
border-bottom: solid .5rem $DarkBlue;
}

.eachUp{
display: flex;
width: 30%;
}

.eachUpUser{
display: flex;
align-items: center;
justify-content: center;
width: 50%;
}

.pUp{
color: $White;
font-family: 'B612', sans-serif;
font-weight: bold;
font-size: 2vh;
}

.sortProducts{
display: flex;
flex-direction: column;
width: 100%;
align-items: center;
justify-content: center;
}

.sortTitleProducts{
display: flex;
flex-direction: column;
width: 100%;
align-items: center;
justify-content: center;
border-bottom: solid .5rem $DarkBlue;
}

.styleProducts{
font-size: 4vh;
color: $White;
font-family: 'Major Mono Display', monospace;
font-weight: bold;
}

.sortEachProduct{
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
width: 100%;
}

.eachProduct{
display: flex;
width: 30%;
}

.sortButtons{
display: flex;
width: 100%;
flex-direction: row;
margin-top: 2%;
margin-bottom: 2%;
align-items: center;
justify-content: center;
}

.eachButton{
display: flex;
width: 100%;
align-items: center;
justify-content: center;
}

.buttons{
width: 50%;
font-size: 3vh;
font-family: 'Oswald', sans-serif;
font-weight: bold;
color: $Black;
padding: 1%;
letter-spacing: .1rem;
border-radius: 10px 10px 10px 10px;
border: solid .4rem $DarkBlue;
background-color: $White;
background: {
image: linear-gradient(45deg,$Pink 50%, transparent 50%);
position: 100%;
size: 400%;
}
transition: background 300ms ease-in-out;
&:hover {
transition-duration: 0.2s;
background-position: 0;
color: $White;
cursor: url(../../components/images/pointer.png),pointer;
}
}

.buttonsUser{
width: 25%;
font-size: 3vh;
font-family: 'Oswald', sans-serif;
font-weight: bold;
color: $Black;
padding: 1%;
letter-spacing: .1rem;
border-radius: 10px 10px 10px 10px;
border: solid .4rem $DarkBlue;
background-color: $White;
background: {
image: linear-gradient(45deg,$Pink 50%, transparent 50%);
position: 100%;
size: 400%;
}
transition: background 300ms ease-in-out;
&:hover {
transition-duration: 0.2s;
background-position: 0;
color: $White;
cursor: url(../../components/images/pointer.png),pointer;
}
}

.buttonsUserDisabled{
width: 25%;
font-size: 3vh;
font-family: 'Oswald', sans-serif;
font-weight: bold;
color: $Black;
padding: 1%;
letter-spacing: .1rem;
border-radius: 10px 10px 10px 10px;
border: solid .4rem $DarkBlue;
background-color: $White;
opacity: 0.5;
background: {
image: linear-gradient(45deg,$Pink 50%, transparent 50%);
position: 100%;
size: 400%;
}
transition: background 300ms ease-in-out;
&:hover {
transition-duration: 0.2s;
background-position: 0;
color: $White;
cursor: url(../../components/images/pointer.png),pointer;
}
}

.buttonsDisabled{
width: 50%;
font-size: 3vh;
font-family: 'Oswald', sans-serif;
font-weight: bold;
color: $Black;
padding: 1%;
letter-spacing: .1rem;
border-radius: 10px 10px 10px 10px;
border: solid .4rem $DarkBlue;
background-color: $White;
opacity: 0.5;
background: {
image: linear-gradient(45deg,$Pink 50%, transparent 50%);
position: 100%;
size: 400%;
}
transition: background 300ms ease-in-out;
&:hover {
transition-duration: 0.2s;
background-position: 0;
color: $White;
cursor: url(../../components/images/pointer.png),pointer;
}
}

.empty{
display: flex;
align-items: center;
width: 100%;
flex-direction: column;
justify-content: center;
}

.pEmpty{
color: $White;
font-size: 3vh;
font-family: 'B612', sans-serif;
}

.Bag{
width: 50%;
border-radius: 50%;
}

@media (max-width: 1248px) {

.sortUpOrder{
display: flex;
flex-direction: column;
width: 100%;
align-items: center;
justify-content: center;
}

.eachUp{
width: 95%;
display: flex;
align-items: center;
justify-content: center;
text-align: center;
}

.sortEachProduct{
display: flex;
flex-direction: column;
width: 100%;
align-items: center;
justify-content: center;
border-bottom: solid .5rem $Pink;

}

.eachProduct{
width: 90%;
align-items: center;
justify-content: center;
}
.pUp{
margin: 0;
padding: 0;
margin-top: 2%;
margin-bottom: 2%;
font-size: 2vh;
}

.sortTitleProducts{
display: flex;
justify-content: center;
align-items: center;
text-align: center;
}

.createBox{
margin-bottom: 10%;
}

.sortOders{
margin-bottom: 5%;
}

.sortEachOrder{
margin-bottom: 10%;
}
}