$Yellow:#ffbe0b;
$Green:#06D6A0;
$Red:#d90429;
$LightGreen:#0CB0A9;
$LightBlue:#118AB2;
$DarkBlue:#0C637F;
$Pink:#EF476F;
$DarkGreen:#09C3A5;
$White: #FFFFFF;
$Black: #231B1B;

@import url('https://fonts.googleapis.com/css2?family=B612&family=Bebas+Neue&family=Major+Mono+Display&family=Simonetta&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

.example{
font-family: 'B612', sans-serif;
font-family: 'Bebas Neue', cursive;
font-family: 'Oswald', sans-serif;
font-family: 'Major Mono Display', monospace;
}

.containeHome{
width: 100%;
background-color: $DarkBlue; 
height: fit-content;
min-height: 100vh;
}

.loader {
border: 16px solid $White; 
border-top: 16px solid $Pink; 
border-left: solid 16px $LightBlue;
border-right: solid 16px $Black;
border-radius: 10%;
width: 120px;
height: 120px;
animation: spin 2s linear infinite;
}

@keyframes spin {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}

.sortHome{
width: 100%;
padding-top: 10%;
display: flex;
align-items: center;
justify-content: center;
}

.forced{
width: 100%;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

.separateHome2{
display: flex;
width: 95%;
margin-bottom: 10%;
flex-direction: row;
align-items: flex-start;
justify-content: flex-start;
}

.separateHome1{
display: flex;
width: 95%;
margin-bottom: 5%;
flex-direction: row;
align-items:center;
justify-content:center;
}

.sortEachGenre{
width: 50%;
display: flex;
align-items:center;
justify-content:center;
}

.genreIcon{
width: 3rem;
}


.btnGenre{
width: 40%;
padding: 2%;
display: flex;
align-items:center;
justify-content:center;
font-size: 4vh;
font-family: 'B612', sans-serif;
background-color: $Pink;
border: transparent;
color: $White;
border-radius: 10px 10px 10px 10px;
box-shadow: 5px 5px 5px 5px $Black;
}

.btnGenre:hover{
transition-duration: 2s;
animation-name: bounce;
animation-duration: 2s;
animation-iteration-count: infinite;
box-shadow: none;
cursor: url(../../components/images/pointer.png),pointer;
}

@keyframes bounce {
0%, 20%, 50%, 80%, 100% {transform: translateY(0);} 
40% {transform: translateY(-20px);} 
60% {transform: translateY(-10px);} 
} 

.zoom1{
display: flex;
width: 100%;
flex-direction: column;
align-items:center;
justify-content:center;
}


.zoom2{
display: flex;
width: 30%;
flex-direction: row;
align-items:flex-start;
justify-content:left;
}


.zoom3{
display: flex;
width: 100%;
flex-direction: row;
align-items:flex-start;
justify-content:center;
}


.sortCategories{
width: 60%;
display: flex;
align-items:flex-start;
justify-content:left;
flex-direction: column;
background-color: $DarkGreen;
border-radius: 10px/30px;
border: solid .5rem $Pink;
padding: 2%;
box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.3);
}

.boxCategory{
padding: 2%;
width: 100%;
}

.fontCategory{
font-size: 4vh;
border: transparent;
font-family: 'Oswald', sans-serif;
font-weight: bold;
color: $Black;
padding-left: 5%;
letter-spacing: .1rem;
background-color: transparent;
background: {
image: linear-gradient(45deg,$Pink 50%, transparent 50%);
position: 100%;
size: 400%;
}
transition: background 300ms ease-in-out;
&:hover {
transition-duration: 0.2s;
background-position: 0;
color: $White;
cursor: url(../../components/images/pointer.png),pointer;
}
}

.sortCarts{
width: 100%;
display: flex;
align-items: center;
flex-wrap: wrap;
justify-content: flex-start;
flex-direction: row;
}

.animation{
width: 100%;
display: flex;
align-items: center;
flex-wrap: wrap;
justify-content: flex-start;
flex-direction: row;
animation-name: myAnimation;
animation-duration: 2s;
animation-iteration-count: 1;
}

@keyframes myAnimation{
0% {
    opacity: 0;
    transform: translateX(-30px);
}
100% {
    opacity: 0.5;
    transform: translateX(0);
}
}   

.boxCard{
max-width: 25%;
min-width: 25%;
max-height: 25%;
min-height: 25%;
margin-right: 5%;
margin-bottom: 5%;
box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.5);
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
background-color: $White;
-webkit-border-top-left-radius: 40px;
-moz-border-radius-topleft: 40px;
border-top-left-radius: 40px;
}



.imageCard{
min-width: 100%;
max-width: 100%;
min-height: 100%;
max-height: 100%;
display: flex;
align-items: center;
justify-content: center;
margin-top: 2%;
margin-bottom: 2%;
}

.imageCard:hover{
cursor: url(../../components/images/pointer.png),pointer;
}

.sizeImage{
display: flex;
align-items: center;
justify-content: center;
padding: 2%;
min-width: 15rem;
max-width: 15rem;
min-height: 15rem;
max-height: 15rem;
image-rendering: crisp-edges;

}

.bottomCard{
width: 100%;
display: flex;
align-items: center;
justify-content: center;
flex-direction: row;
background-color: $DarkGreen;
border-top: solid .2rem $Pink;
}



.bottomCard2{
width: 100%;
display: flex;
align-items: center;
justify-content: center;
flex-direction: row;
background-color: $DarkGreen;
border-top: solid .2rem $Pink;
}

.select{
width: 50%;
height: 2rem;
background-color: $White;
color: $Black;
border:solid .2rem $Black ;
font-size: 2vh;
font-weight: bold;
border-radius: 10px 10px 10px 10px;
font-family: 'B612', sans-serif;
}

.select:hover{
cursor: url(../../components/images/pointer.png),pointer;
}

.eachBottom1{
width: 50%;
display: flex;
align-items: center;
justify-content: center;
height: 100%;
margin: 0;
padding: 2%;
border-right: solid .2rem $Pink;
}

.eachBottom2{
width: 50%;
display: flex;
align-items: center;
justify-content: center;
height: 100%;
margin: 0;
padding: 1%;
}

.price{
width: 100%;
height: 100%;
display: flex;
align-items: center;
justify-content: center;
font-size: 3vh;
font-family: 'B612', sans-serif;
font-weight: bold;
color: $White;
}

.cartButtom{
display: flex;
align-items: center;
justify-content: center;
width:50%;
padding: 2%;
height: 100%;
border: transparent;
color: $White;
background-color: transparent;
}

.cartButtom:hover{
transition-duration: 2s;
box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.5);
cursor: url(../../components/images/pointer.png),pointer;
}

.sortStar{
display: flex;
position: relative;
left:  70%;
padding-top: 5%;
}

.star{
    width: 40%;
}

.buttonStar{
width: 25%;
display: flex;
align-items: center;
justify-content: center;
flex-direction: row;
font-family: 'Oswald', sans-serif;
font-weight: bold;
color: $Black;
padding: 2%;
border-radius: 10% 50%;
border: transparent;
background-color: $White;
background: {
image: linear-gradient(45deg,$Black 50%, transparent 50%);
position: 100%;
size: 400%;
}
transition: background 300ms ease-in-out;
&:hover {
transition-duration: 0.2s;
background-position: 0;
color: $Yellow;
cursor: url(../../components/images/pointer.png),pointer;
}
}