$Yellow:#ffbe0b;
$Green:#06D6A0;
$Red:#d90429;
$LightGreen:#0CB0A9;
$LightBlue:#118AB2;
$DarkBlue:#0C637F;
$Pink:#EF476F;
$DarkGreen:#09C3A5;
$White: #FFFFFF;
$Black: #231B1B;

@import url('https://fonts.googleapis.com/css2?family=B612&family=Bebas+Neue&family=Major+Mono+Display&family=Simonetta&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

.example{
font-family: 'B612', sans-serif;
font-family: 'Bebas Neue', cursive;
font-family: 'Oswald', sans-serif;
font-family: 'Major Mono Display', monospace;
}

.containerEdit{
width: 100%;
background-color: $DarkBlue;
height: fit-content;
min-height: 100vh;
}

.sortEdit{
display: flex;
align-items: center;
justify-content: center;
padding-top: 10%;
width: 100%;
}

.Jack{
display: flex;
align-items: center;
justify-content: center;
width: 100%;
}

.boxEdit{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
width: 90%;
box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.5);
border-radius:  10px 10px 10px 10px;
background-color: $LightGreen;
margin-bottom: 10%;
}

.sortTitle{
display: flex;
align-items: center;
justify-content: center;
background-color: $Pink;
width: 100%;
border-radius:  10px 10px 0 0 ;
border-bottom: solid .5rem $DarkBlue;
}

.titleEdit{
font-size: 6vh;
margin: 0;
margin-top: 2%;
margin-bottom: 2%;
font-weight: bold;
font-family: 'Major Mono Display', monospace;
color: $White;
}

.sortCards{
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
margin-top: 2%;
flex-wrap: wrap;
width: 90%;
}

.boxEachProduct{
width: 15%;
margin-right: 3%;
margin-bottom: 3%;
display: flex;
align-items: center;
flex-direction: column;
justify-content: center;
background-color: $DarkGreen;
box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.5);
border-radius:  10px 10px 10px 10px;
}

.titleCard{
width: 100%;
display: flex;
background-color: $Pink;
align-items: center;
text-align: center;
margin-bottom: 5%;
justify-content: center;
border-radius:  10px 10px 0 0 ;
border-bottom: solid .2rem $DarkBlue;
}

.titleCardOther{
width: 100%;
display: flex;
background-color: $Pink;
align-items: center;
text-align: center;
margin-bottom: 5%;
justify-content: center;
border-bottom: solid .2rem $DarkBlue;
}

.titlecardStyle{
width: 90%;
color: $White;
margin: 0;
margin-top: 2%;
margin-bottom: 2%;
font-family: 'B612', sans-serif;
font-size: 2vh;
}

.imageCardsize{
display: flex;
align-items: center;
justify-content: center;
width: 100%;
margin-top: 2%;
margin-bottom: 2%;
border-top: solid .5rem $Pink;
}

.imageCard{
margin-top: 5%;
min-width: 20rem;
max-width: 20rem;
min-height: 20rem;
max-height: 20rem;
}

.sortButtonCard{
display: flex;
align-items: center;
justify-content: center;
width: 100%;
margin-top: 2%;
margin-bottom: 3%;
}

.buttonSelect{
width: 90%;
font-size: 3vh;
font-family: 'Oswald', sans-serif;
font-weight: bold;
color: $Black;
padding: 3%;
letter-spacing: .1rem;
border-radius: 10px 10px 10px 10px;
border: solid .4rem $DarkBlue;
background-color: $White;
background: {
image: linear-gradient(45deg,$Pink 50%, transparent 50%);
position: 100%;
size: 400%;
}
transition: background 300ms ease-in-out;
&:hover {
transition-duration: 0.2s;
background-position: 0;
color: $White;
cursor: url(../../components/images/pointer.png),pointer;
}
}

.sortForm{
display: flex;
width: 90%;
align-items: center;
justify-content: center;
flex-direction: column;
}

.form{
display: flex;
width: 100%;
align-items: center;
justify-content: center;
flex-direction: column;
}

.eachInput{
display: flex;
align-items: flex-start;
justify-content: flex-start;
flex-direction: column;
margin-top: 2%;
margin-bottom: 2%;
}

.label{
font-family: 'B612', sans-serif;
font-size: 4vh;
font-weight: bold;
margin-bottom: 5%;
color: $White;
}

.select{
width: 15rem;
height: 2.5rem;
background-color: $White;
border:solid .2rem $Pink ;
font-size: 2vh;
font-weight: bold;
border-radius: 10px 10px 10px 10px;
font-family: 'B612', sans-serif;
}

.input{
width: 15rem;
height: 2.5rem;
background-color: $White;
border:solid .2rem $Pink ;
font-size: 2vh;
font-weight: bold;
border-radius: 10px 10px 10px 10px;
font-family: 'B612', sans-serif;
&:focus{
background-color: $White;
transition-duration: 2s;
width: 18rem;
}
}

.iconsLogin{
padding-bottom: 5%;
width: 2rem;
}
    
.sortButtons{
display: flex;
width: 100%;
align-items: center;
justify-content: center;
margin-bottom: 5%;
}

.buttonCreate{
width: 20%;
font-size: 3vh;
font-family: 'Oswald', sans-serif;
font-weight: bold;
color: $Black;
padding: 1%;
letter-spacing: .1rem;
border-radius: 10px 10px 10px 10px;
border: solid .4rem $DarkBlue;
background-color: $White;
background: {
image: linear-gradient(45deg,$Pink 50%, transparent 50%);
position: 100%;
size: 400%;
}
transition: background 300ms ease-in-out;
&:hover {
transition-duration: 0.2s;
background-position: 0;
color: $White;
cursor: url(../../components/images/pointer.png),pointer;
}
}
