$Yellow:#ffbe0b;
$Green:#06D6A0;
$Red:#d90429;
$LightGreen:#0CB0A9;
$LightBlue:#118AB2;
$DarkBlue:#0C637F;
$Pink:#EF476F;
$DarkGreen:#09C3A5;
$White: #FFFFFF;
$Black: #231B1B;

@import url('https://fonts.googleapis.com/css2?family=B612&family=Bebas+Neue&family=Major+Mono+Display&family=Simonetta&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

.example{
font-family: 'B612', sans-serif;
font-family: 'Bebas Neue', cursive;
font-family: 'Oswald', sans-serif;
font-family: 'Major Mono Display', monospace;
}

.loader {
border: 16px solid $White; 
border-top: 16px solid $Pink; 
border-left: solid 16px $LightBlue;
border-right: solid 16px $Black;
border-radius: 10%;
width: 120px;
height: 120px;
animation: spin 2s linear infinite;
}

@keyframes spin {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}


.containerDetails{
width: 100%;
background-color: $DarkBlue; 
height: fit-content;
min-height: 100vh;
}

.sortDetails{
width: 100%;
display: flex;
flex-direction: column;
align-items: center;
padding-top: 15%;
justify-content: center;
}

.zoom{
display: flex;
width: 100%;
align-items: center;
justify-content: center;
}


.boxDetails{
width: 90%;
background-color: $Green;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
padding: 2%;
border-radius: 10px 10px 10px 10px;
box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.5);
margin-bottom: 5%;
}

.separateDetails{
width: 100%;
display: flex;
flex-direction: row;
align-items: flex-start;
justify-content: flex-start;
}

.sortImage1{
width: 50%;
align-items: flex-start;
justify-content: left;
}

.sortImage2{
width: 50%;
align-items: flex-start;
justify-content: flex-start;
}

.insideBox{
display: flex;
box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.5);
border-radius: 10px 10px 10px 10px;
background-color: $LightGreen;
padding: 2%;
margin: 0;
justify-content: center;
align-items:flex-start;
width: 90%;
flex-direction: column;
}

.pDetails{
display: flex;
margin-top: 2%;
margin-bottom: 2%;
margin-left: 5%;
font-family: 'Oswald', sans-serif;
color: $White;
font-weight: bold;
font-size: 4vh;
}

.sortSelect{
display: flex;
margin-left: 5%;
}

.select{
width: 10rem;
height: 2.5rem;
background-color: $White;
color: $Black;
border:solid .2rem $Pink ;
font-size: 2vh;
font-weight: bold;
border-radius: 10px 10px 10px 10px;
font-family: 'B612', sans-serif;
}

.select:hover{
cursor: url(../../components/images/pointer.png),pointer;
}

.sizeImage{
min-width: 35rem;
max-width: 35rem;
min-height: 35rem;
max-height: 35rem;
}

.sortButton{
display: flex;
width: 100%;
margin-bottom: 5%;
margin-top: 5%;
text-align: center;
align-items: center;
justify-content: center;
}

.sortButton2{
display: flex;
width: 50%;
margin-bottom: 5%;
margin-top: 5%;
text-align: center;
align-items: center;
justify-content: center;
}

.buttonBuy{
width: 40%;
font-family: 'Oswald', sans-serif;
font-weight: bold;
color: $Black;
padding: 1%;
border-radius: 10px 10px 10px 10px;
border: solid .4rem $DarkBlue;
background-color: $White;
background: {
image: linear-gradient(45deg,$Pink 50%, transparent 50%);
position: 100%;
size: 400%;
}
transition: background 300ms ease-in-out;
&:hover {
transition-duration: 0.2s;
background-position: 0;
color: $White;
cursor: url(../../components/images/pointer.png),pointer;
}
}

.cartIcon{
width: 30%;
}

.secondBox{
display: flex;
width: 95%;
background-color: $LightGreen;
justify-content: center;
align-items: center;
margin-bottom: 10%;
border-radius: 10px 10px 10px 10px;
box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.5);
}

.sortSecondBox{
width: 100%;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

.sortTitle{
width: 100%;
display: flex;
align-items: center;
justify-content: center;
background-color: $Pink;
border-radius: 10px 10px 0px 0px;
border-bottom: solid .5rem $DarkBlue;
margin-bottom: 2%;
}

.titleComment{
font-family: 'Major Mono Display', monospace;
font-size: 4vh;
color: $White;
font-weight: bold;
}

.sortForm{
width: 50%;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

.form{
width: 100%;
display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: left;
margin-left: 10%;
}

.label{
font-family: 'B612', sans-serif;
font-size: 3vh;
font-weight: bold;
color: $White;
margin-bottom: 2%;
margin-top: 2%;
}

.input{
width: 10rem;
height: 2.5rem;
background-color: $White;
color: $Black;
border:solid .2rem $Pink ;
font-size: 2vh;
font-weight: bold;
border-radius: 10px 10px 10px 10px;
font-family: 'B612', sans-serif;
&:focus{
background-color: $White;
transition-duration: 2s;
width: 13rem;
}
}

.textarea{
width: 20rem;
height: 10rem;
background-color: $White;
color: $Black;
background-color: $White;
border:solid .2rem $Pink ;
font-size: 2vh;
font-weight: bold;
border-radius: 10px 10px 10px 10px;
font-family: 'B612', sans-serif;
resize: none;
margin-bottom: 5%;
}

.sortReview{
width: 50%;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}


.buttonSend{
width: 70%;
font-size: 3.5vh;
font-family: 'Oswald', sans-serif;
font-weight: bold;
color: $Black;
padding: 3%;
letter-spacing: .1rem;
border-radius: 10px 10px 10px 10px;
border: solid .4rem $DarkBlue;
background-color: $White;
background: {
image: linear-gradient(45deg,$Pink 50%, transparent 50%);
position: 100%;
size: 400%;
}
transition: background 300ms ease-in-out;
&:hover {
transition-duration: 0.2s;
background-position: 0;
color: $White;
cursor: url(../../components/images/pointer.png),pointer;
}
}

.sortTitleReview{
display: flex;
align-items: flex-start;
flex-direction: column;
justify-content: flex-start;
width: 100%;
}

.titleReview{
margin: 0;
font-family: 'Oswald', sans-serif;
font-size: 5vh;
color: $White;
font-weight: bold;
}


.sortComments{
margin-top: 5%;
display: flex;
align-items: flex-start;
flex-direction: column;
justify-content: flex-start;
width: 90%;
background-color: $White;
border-radius: 10px 10px 10px 10px;
border: solid .4rem $Red;
box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.5);

}

.eachItemComment{
display: flex;
flex-direction: column;
width: 100%;
padding-left: 2%;
}

.comments{
font-size: 2vh;
font-family: 'B612', sans-serif;
font-weight: bold;
color: $Black;
}

.sortStar{
display: flex;
position: relative;
left:  20%;
align-self:flex-end;
padding-top: 5%;
}

.star{
width: 40%;
}

.buttonStar{
width: 25%;
display: flex;
align-items: center;
justify-content: center;
flex-direction: row;
font-family: 'Oswald', sans-serif;
font-weight: bold;
color: $Black;
padding: 2%;
border-radius: 10% 50%;
border: transparent;
background-color: $White;
background: {
image: linear-gradient(45deg,$Black 50%, transparent 50%);
position: 100%;
size: 400%;
}
transition: background 300ms ease-in-out;
&:hover {
transition-duration: 0.2s;
background-position: 0;
color: $Yellow;
cursor: url(../../components/images/pointer.png),pointer;
}
}