$Yellow:#ffbe0b;
$Green:#06D6A0;
$Red:#d90429;
$LightGreen:#0CB0A9;
$LightBlue:#118AB2;
$DarkBlue:#0C637F;
$Pink:#EF476F;
$DarkGreen:#09C3A5;
$White: #FFFFFF;
$Black: #231B1B;

@import url('https://fonts.googleapis.com/css2?family=B612&family=Bebas+Neue&family=Major+Mono+Display&family=Simonetta&display=swap');
.example{
font-family: 'B612', sans-serif;
font-family: 'Bebas Neue', cursive;
font-family: 'Simonetta', cursive;
font-family: 'Major Mono Display', monospace;
}

.ContainerDrop{
display: flex;
width: 20rem;
position: absolute;
flex-direction: column;
align-items: center;
justify-content: center;
text-align: center;
top: 100%;
right: 5%;
}

.auxDiv{
    width: 100%;
}

.BoxDrop{
width: 100%;
background-color: $Yellow;
border-radius: 0px 0px 15px 15px;
border: solid $Black .2rem;
}


.SortEachDrop{
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
text-align: center;
width: 100%;
}

.StyleDrop{
display: flex;
width: 100%;
flex-direction: row;
align-items: center;
justify-content: flex-start;
text-align: left;
padding-left: 10%;
color: $Black;
font-size: 3vh;
font-weight: bold;
text-transform: uppercase;
font-family: 'B612', sans-serif;
}

.link:hover{
cursor: url(../../components/images/pointer.png),pointer;
}

.StyleDrop:hover {
cursor: url(../../components/images/pointer.png),pointer;
animation-name: tada;
animation-duration: 2s;
animation-iteration-count: infinite;
}

@keyframes tada {
0% {transform: scale(1);} 
10%, 20% {transform: scale(0.9) rotate(0deg);} 
30%, 50%, 70%, 90% {transform: scale(1.1) rotate(0deg);} 
40%, 60%, 80% {transform: scale(0.9) rotate(0deg);} 
100% {transform: scale(1) rotate(0);} 
} 


.IconDrop{
min-width: 2rem;
max-width: 2rem;
max-height: 2rem;
min-height: 2rem;
padding-right: 4%;
}